{% extends 'MainPageFrontendBundle:Default:base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <style type="text/css">
    #know .progress{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .panel-body aside{
      background: rgba(0,0,0,.8);
      background-color: #000000;
      /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    }
    #know .panel-body aside{
      background-image: url("http://www.transparenttextures.com/patterns/skulls.png");
    }
    #services .panel-body aside{
      background-image: url("http://www.transparenttextures.com/patterns/dark-leather.png");
    }
    .panel-body aside h2{
      border-left: 10px solid #fff;     margin-left: -5px;
      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 3em;
    }
    #services .nav {

      line-height: 3.2;
      margin-bottom: 1em;
    }
    .sample a{
      text-decoration: underline;
    }
    .bg-white{
      background: white;
    }
    #hero .thumbnail{
      background: white;
      border: none;
    }
  </style>
{% endblock stylesheets %}
{% block body %}
  {{ include('MainPageFrontendBundle:Default:header.html.twig') }}
  <section id="hero">
    <div class="container">
      <div class="panel panel-default ">
        <div class="panel-body">
          {#<div class="profile-image text-right visible-sm">#}
            {#<div class="rr-tool-tip ">#}
              {#<span>Hello</span>#}
            {#</div>#}
            {#<img class="img-responsive" src="/img/portfolio/me.png" alt="" class="" />#}
          {#</div>#}
          <div class=" col-lg-4  hidden-xs hidden-sm hidden-md">
            <div class="profile-image text-right hidden-sm">
              <div class="rr-tool-tip ">
                <span>Hello</span>
              </div>
              <img class="img-responsive" src="/img/portfolio/me.png" alt="" class="" />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="hidden-xs hidden-sm hidden-md">
              <br>
            </div>
            <div class="hidden-xs hidden-sm" >
              <br>
            </div>
            <h2 class="light same-size">I'm</h2> &nbsp; <br class="visible-xs-inline"><h1 class="bolder same-size">Rene Ramirez</h1>
            <h2 class="position">Full stack developer</h2>
            <hr>
            {#<p class="text-justify">#}
              {#I'm a full stack developer (based in Toronto).#}
              {#Although my strength is centred primarily on back end development and creating RESTful web services,#}
              {#I have eagerly worked my way into the front end world.#}
            {#</p>#}
            <p class="text-justify">
              I have been around for some while as developer, back when flash was a thing. Yeap, Flash ( I know ).
              I have a wide breadth of expertise working on a range of projects using different technologies,
              both small and large scale deployment, and local and remote teams. In combination with my experience,
              holistic perspective, and a passion for optimization, I can infuse your project with comprehensive
              analysis and expert advice to <b>maximize performance</b> and <b>ensure its success</b>.
              Finally, I’m an excellent communicator, seek out challenges, and thrive in team environments.
              Give me a shout if you want to add confidence to your team.
            </p>
          </div>
        </div>
        <div class="fill-parent text-center">
          <div class="footer social">
            <ul class="social">
              <li><a href="https://www.facebook.com/rene.roberto.ramirez.szabo" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/reneszabo" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="http://ca.linkedin.com/in/reneszabo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://plus.google.com/+reneszabo" target="_blank"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://dribbble.com/reneszabo" target="_blank"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="https://www.instagram.com/reneszabo" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://github.com/reneszabo" target="_blank"><i class="fa fa-github-alt"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-hero"></div>
  </section>    <!-- HERO -->
  <section id="know">
    <div class="container">
      <div class="panel panel-default ">
        <div class="panel-body panel-no-padding body">
          <div class="">
            <aside class="col-sm-4 left-side text-white panel-no-padding">
              <div class="padding-bottom padding-top">
                <h2 class="bold">Skills</h2>
              </div>
            </aside>
            <div class="col-sm-8 right-side">
              <div class="padding-bottom padding-left padding-top">

                <br>
                {#<div class="col-xs-12">#}
                  {#<h3 class="light" style="margin: 30px 0">Core Skills</h3>#}
                {#</div>#}

                <div class=" col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="https://angular.io/" target="_blank">
                      <img class="img-responsive-ramirez bg-white" src="{{ asset('img/portfolio/logo/angular.svg') }}" alt="Angular Js"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://getbootstrap.com/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/bootstrap.jpg" alt="Bootstrap 3"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://symfony.com/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/symfony.jpg" alt="Symfony"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://www.doctrine-project.org/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/doctrine_orm.jpg" alt="Doctrine ORM"/>
                    </a>
                  </div>
                </div>



                {#<div class="col-xs-12">#}
                  {#<h3 class="light" style="margin: 30px 0">Plus Skills</h3>#}
                {#</div>#}
                <div class=" col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://www.w3.org/html/" target="_blank">
                      <img class="img-responsive" src="/img/portfolio/logo/html5.jpg" alt="HTML5"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://www.w3.org/Style/CSS/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/css3.jpg" alt="CSS3"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://sass-lang.com/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/sass.jpg" alt="SASS grade CSS extension"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://lesscss.org/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/less.jpg" alt="less CSS pre-processor"/>
                    </a>
                  </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://php.net/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/php.jpg" alt="PHP"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="https://getcomposer.org/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/composer.jpg" alt="Composer"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://git.rrrproducciones.com" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/gitlab.jpg" alt="GitLab"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="https://github.com/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/github.jpg" alt="GitHub"/>
                    </a>
                  </div>
                </div>


                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://jquery.com/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/jQuery.jpg" alt="jQuery"/>
                    </a>
                  </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="https://www.mysql.com/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/mysql.jpg" alt="MySql"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://www.postgresql.org/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/postgre_sql.jpg" alt="PostgreSQL"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://www.microsoft.com/en-ca/server-cloud/products/sql-server/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/sql_server.jpg" alt="SQL Server"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://twig.sensiolabs.org/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/twig.jpg" alt="TWIG template engine for PHP"/>
                    </a>
                  </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://cordova.apache.org/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/cordova.jpg" alt="Apache Cordova"/>
                    </a>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="https://developers.google.com/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/developers_logo.jpg" alt="Google Developers"/>
                    </a>
                  </div>
                </div>


                <div class="col-md-3 col-sm-4 col-xs-6">
                  <div class="thumbnail">
                    <a href="http://nodejs.org/" target="_blank">
                      <img class="img-responsive-ramirez" src="/img/portfolio/logo/nodejs-light.jpg" alt="Node.js"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section id="analytics-api" class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <img id="analyticsLogo" src="/img/portfolio/logo/google_analytics_logo.png" alt=""/>
          <h3 class="light">Visits since November 16th, 2014</h3>
          <h1 class="visits_count bolder">
            {{ storedAnalytics.sessions }}
          </h1>
          <div class="bolder">
                          {#Top 6 Cities visits#}
          </div>
          <div class="">
            Last Update: {{ storedAnalytics.updatedAt|date('F jS, Y h:i a e', "America/Toronto") }}
          </div>
          {#<div class="">#}
            {#{% for cityVisit in cityVisits %}#}
              {#<div class="col-sm-2">#}
                {#{{ cityVisit[0] }} <br>#}
                {#{{ cityVisit[1] }}#}
              {#</div>#}
            {#{% endfor %}#}
          {#</div>#}
        </div>
      </div>
    </div>
  </section>
  <section id="git"  class="text-center">
    <h2 class="light">Projects</h2>
  </section>
  {% spaceless %}
    <section id="samples">
      <div class="container">
        <div class="row">

          {#--- ONE ONE ONE ----------------------------------------------------------- #}

          <div class="col-md-6 ">
            <article class="sample panel panel-default">
              <div class="panel-body">
                <legend>ParticipAid</legend>
                <a href="https://participaid.co/"  target="_blank">
                  <img src="{{ asset('img/portfolio/lo/participaid-lo.jpg') }}" alt="ParticipAid" class="img-responsive"/>
                </a>
                <ul>
                  <li>Back end development rest API - Php <a href="http://symfony.com/" target="_blank">Symfony3</a></li>
                  <li>V2 Front end development Angular 2.4</li>
                  <li>V1 Front end development Twig with Symfony </li>
                  <li>iOS Integration with the API</li>
                  <li>Responsive design with <a href="http://getbootstrap.com/" target="_blank">Bootstrap3</a></li>
                  <li>Project Management Anthony Nazarov and Erica Tatham [co-founders]</li>
                  <li>Design was provided Maroof Moral [co-founder]</li>
                </ul>
                <div class="text-center">
                  <a class="btn btn-info" href="https://participaid.co/" target="_blank">View website</a>
                </div>
              </div>
            </article>
            {#<article class="sample panel panel-default">#}
              {#<div class="panel-body">#}

                {#<legend>Landing Page for Fitrition App </legend>#}
                {#<a href="{{ path('samples_fitrition') }}"  target="_blank">#}
                  {#<img src="/img/portfolio/lo/ramirez-portfolio-002-lo.jpg" alt="Fitrition" class="img-responsive"/>#}
                {#</a>#}
                {#<br>#}
                {#<ul>#}
                  {#<li>Final muck up of web look and feel, it is <strong>not intended to lunch commercially</strong></li>#}
                  {#<li>Responsive design with <a href="http://getbootstrap.com/"  target="_blank">Bootstrap3</a></li>#}
                  {#<li><a href="https://www.youtube.com/watch?v=gF0rrpMH-Jo"  target="_blank">Video</a> - Inspirational Running Video HD</li>#}
                  {#<li>#}
                    {#Created fast muck up based on:#}
                    {#<ul>#}
                      {#<li><a href="http://fitstar.com/" target="_blank">fitstar.com</a></li>#}
                      {#<li><a href="https://www.codyapp.com/" target="_blank">codyapp.com</a></li>#}
                      {#<li><a href="http://www.gym-pact.com/" target="_blank">gym-pact.com</a></li>#}
                    {#</ul>#}
                  {#</li>#}
                  {#<li>#}
                    {#Thanks to the team for pulling out the muck ups in such a short period:#}
                    {#<ul>#}
                      {#<li>Aegean Diker</li>#}
                      {#<li>Ariel Villa-Veluz</li>#}
                      {#<li>Eric Tai</li>#}
                    {#</ul>#}
                  {#</li>#}
                {#</ul>#}
                {#<div class="text-center">#}
                  {#<a class="btn btn-info" href="{{ path('samples_fitrition') }}" target="_blank">View Demo</a>#}
                {#</div>#}
              {#</div>#}
            {#</article>#}
            {#<article class="sample panel panel-default">#}
              {#<div class="panel-body">#}

                {#<legend>Meaghan Ogilvie-Symbiosis</legend>#}
                {#<a href="{{ path('samples_symbiosis') }}" target="_blank">#}
                  {#<img src="/img/portfolio/lo/ramirez-portfolio-003-lo.jpg" alt="Symbiosis" class="img-responsive"/>#}
                {#</a>#}
                {#<br>#}
                {#<ul>#}
                  {#<li>Promotional page for <a href="http://meaghanogilvie.com/" target="_blank">Meaghan Ogilvie</a></li>#}
                  {#<li>All photos were provided by <a href="http://meaghanogilvie.com/" target="_blank">Meaghan Ogilvie</a></li>#}
                  {#<li>Website <strong>NOT</strong> responsive</li>#}
                  {#<li>Usage of <a href="http://www.ianlunn.co.uk/plugins/jquery-parallax" target="_blank">jQuery Parallax</a> for section separation </li>#}
                  {#<li>#}
                    {#This project was created with a awsome team, special thanks to:#}
                    {#<ul>#}
                      {#<li>Jemela Vergara</li>#}
                      {#<li>Nicole Ornales</li>#}
                    {#</ul>#}
                  {#</li>#}
                  {#<br>#}
                {#</ul>#}
                {#<div class="text-center">#}
                  {#<a class="btn btn-info" href="{{ path('samples_symbiosis') }}" target="_blank">View Demo</a>#}
                {#</div>#}
              {#</div>#}
            {#</article>#}
          </div>

          {#--- TWO TWO TWO ----------------------------------------------------------- #}

          <div class="col-md-6">


            <article class="sample panel panel-default">
              <div class="panel-body">

                <legend>CLAD</legend>
                <a href="http://www.clad.org/"  target="_blank">
                  <img src="/img/portfolio/lo/ramirez-portfolio-clad-lo.jpg" alt="Fitrition" class="img-responsive"/>
                </a>
                <br>
                <ul>
                  <li>Front end develop in  <a href="http://www.joomla.org/" target="_blank">Joomla</a></li>
                  <li>Back end develop in <a href="http://symfony.com/" target="_blank">Symfony 1.4</a></li>
                  <li>Responsive design with <a href="http://getbootstrap.com/" target="_blank">Bootstrap3</a></li>
                  <li>Designed by <a href="https://maigonzal.wordpress.com/" target="_blank">Mairim Gonzalez</a></li>
                </ul>
                <div class="text-center">
                  <a class="btn btn-info" href="http://www.clad.org/" target="_blank">View website</a>
                </div>
              </div>
            </article>
            <article class="sample panel panel-default">
              <div class="panel-body">

                <legend>To-Do List - Google API </legend>
                <a href="{{ path('samples_to_do_list') }}" target="_blank">
                  <img src="/img/portfolio/lo/ramirez-portfolio-001-lo.jpg" alt="To-do List" class="img-responsive"/>
                </a>
                <br>
                <ul>
                  <li>Integrated with <a href="https://developers.google.com/gdata/docs/client-libraries" target="_blank">Google API</a></li>
                  <li>Secure Sign in and out</li>
                  <li>Responsive design with <a href="http://getbootstrap.com/" target="_blank">Bootstrap3</a></li>
                  <li>Animated with <a href="http://daneden.github.io/animate.css/" target="_blank">Animate.css</a> created by <a href="http://daneden.me/" target="_blank">Daniel Eden</a></li>
                  <li>List Design by <a href="http://sarasoueidan.com/blog/creative-list-effects/" target="_blank">Sara Soucidan</a></li>
                  <li>Front end development</li>
                </ul>
                <div class="text-center">
                  <a class="btn btn-info" href="{{ path('samples_to_do_list') }}" target="_blank">View Demo</a>
                </div>
              </div>
            </article>
            {#<article class="sample panel panel-default">#}
              {#<div class="panel-body">#}
                {#<legend>Snake Game</legend>#}
                {#<a href="/game"  target="_blank">#}
                  {#<img src="{{ asset('img/portfolio/lo/game-lo.jpg') }}" alt="Snake Game" class="img-responsive"/>#}
                {#</a>#}
                {#<br>#}
                {#<ul>#}
                  {#<li>Javascript Game</li>#}
                  {#<li>SVG Canvas development demostration</li>#}
                  {#<li>Google OAuth Integration</li>#}
                  {#<li>Database MySql to store the Score of authenticated players</li>#}
                {#</ul>#}
                {#<div class="text-center">#}
                  {#<a class="btn btn-info" href="/game" target="_blank">View website</a>#}
                {#</div>#}
              {#</div>#}
            {#</article>#}
            {#<article class="sample panel panel-default">#}
              {#<div class="panel-body">#}

                {#<legend>Miranda Consulting Group </legend>#}
                {#<a href="http://mirandacg.com/" target="_blank">#}
                  {#<img src="/img/portfolio/lo/ramirez-portfolio-mirandacg-lo.jpg" alt="Miranda Consulting Group" class="img-responsive"/>#}
                {#</a>#}
                {#<br>#}
                {#<ul>#}
                  {#<li>Website build on <a href="http://symfony.com/" target="_blank">Symfony2</a></li>#}
                  {#<li>Front end development</li>#}
                  {#<li>Responsive design with <a href="http://getbootstrap.com/" target="_blank">Bootstrap3</a></li>#}
                {#</ul>#}
                {#<div class="text-center">#}
                  {#<span class="label label-warning">no link - company closed</span>#}
                  {#<a class="btn btn-info" href="http://mirandacg.com/" target="_blank">View website</a>#}
                {#</div>#}
              {#</div>#}
            {#</article>#}
          </div>



        </div>
      </div>
    </section>
  {% endspaceless %}
  <section id="direction">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h2 class=" bolder">
            Like what you see ? Lets have a talk
          </h2>
          <h4 class="">
            Toronto, Canada
            <br>
            <a href="mailto:rene.szabo@gmail.com" >
              rene.szabo@gmail.com
            </a>
            <br>
            {#+1 647-772-1613#}
          </h4>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
{% block javascripts %}
  {{ parent() }}
  <script src="/libs/jquery-localScroll/jquery.localScroll.min.js" type="text/javascript"></script>
  <script src="/libs/jquery-scrollTo/jquery.scrollTo.min.js" type="text/javascript"></script>
  <script src="/libs/jquery-parallax/jquery-parallax.js" type="text/javascript"></script>
  <script src="/libs/waypoints/waypoints.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('body > header').localScroll({offset: -50});
      $('#git').parallax("50%", 0.6);
      $('#know').waypoint(function (direction) {                                    // WAYPOINT PLUGIN
        if (direction === 'down') {
          $('#know').addClass('active');
          $('#know .thumbnail img').addClass('active');
        } else {
          $('#know').removeClass('active');
          $('#know .thumbnail img').removeClass('active');
        }
      }, {offset: 450});
      $('body > section:nth-of-type(1) h1:nth-of-type(1)').waypoint(function (direction) {
        if (direction === "down") {
          $('body > header .navbar-default').addClass('down');
        } else {
          $('body > header .navbar-default').removeClass('down');
        }
      }, {offset: 50});
    });
    $('#ramirez-menu').on('hidden.bs.collapse', function () {
      $('body > header .navbar-default').removeClass('down-togle');
    });
    $('#ramirez-menu').on('show.bs.collapse', function () {
      $('body > header .navbar-default').addClass('down-togle');
    });
  </script>
{% endblock javascripts %}
