{% extends 'MainPageFrontendBundle:Default:base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
{% endblock stylesheets %}
{% block body %}
  {{ include('MainPageBlogBundle:Default:header.html.twig') }}
  <section id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ include('MainPageBlogBundle:Blog:single.html.twig') }}
          {{ include('MainPageBlogBundle:Blog:single.html.twig') }}
          {{ include('MainPageBlogBundle:Blog:single.html.twig') }}
          {{ include('MainPageBlogBundle:Blog:single.html.twig') }}
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
  </script>
{% endblock javascripts %}
{#<a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'} ) }}" style="padding-bottom: 7px; padding-top: 7px;">
    <div id="gSignInWrapper">
      <div id="customBtn" class="customGPlusSignIn" data-gapiattached="true">
        <span class="icon"></span>
        <span class="buttonText">sign-in with Google</span>
      </div>
    </div>
  </a>#}