<!DOCTYPE html>
<html>
  <head>
    {{ include('LayoutBundle:Common:meta.html.twig') }}
    <title>{% block title %}Rene Ramirez - Portfolio{% endblock %}</title>
    {% block fonts %}
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    {% endblock %}
    {% block stylesheets %}
      {{ include('LayoutBundle:Common:css.html.twig') }}
      <link href="/css/ramirez-portfolio.css" rel="stylesheet" type="text/css"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
    {{ include('MainPageBackendBundle:Default:header.html.twig') }}
    {% include 'MainPageBackendBundle:Default:flash.html.twig' %}
  {% block body %}{% endblock %}
  {% block javascripts %}
    {{ include('LayoutBundle:Common:javascripts.html.twig') }}
    {{ include('LayoutBundle:Common:analytics.html.twig') }}

  {% endblock %}
</body>
</html> 
