<div>
  <strong>Projecto:</strong>  
</div>

<div>
  <ul>
    <li>
      {{ data.head_commit.message }}
    </li>
    <li>
      {{ data.pusher.name }}
    </li>
    <li>
      {{ data.pusher.email }}
    </li>
    <li>
      {{ data.repository.full_name }}
    </li>
    <li>
      {{ data.repository.html_url }}
    </li>
  </ul>
</div>
<div>
  <table>
    <tbody>

      {% for gitprofile in githubers %}
        <tr>
          <td>
            <img src="{{ gitprofile.img }}" alt="HOLA" />
          </td>
          <td>
            {{gitprofile.img |e}}
          </td>
          <td>
            {{gitprofile.name}}
          </td>
          <td>
            {{gitprofile.login}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>